PORT=<Port Number>

# MongoDB Configuration

MONGODB_URI=<MongoDB Connection String>

# JWT Configuration
JWT_SECRET=<JWT Secret Key>
JWT_EXPIRES_IN=7d

# Email Configuration

EMAIL_HOST=<SMTP Host Address>

EMAIL_PORT=<SMTP Port Number>

EMAIL_SECURE=false                                                                                    
EMAIL_USER=<Email user for SMTP>

EMAIL_FROM=<Sender Email>

EMAIL_PASS=<SMTP Key/Password>

ALLOWED_EMAIL_DOMAIN=medicaps.ac.in

# Google OAuth Configuration
GOOGLE_CLIENT_ID=<Google Client ID>
GOOGLE_CLIENT_SECRET=<Google Client Secret>